# Server Configuration
PORT=3000
NODE_ENV=development

# Server URL (para Swagger y otros usos)
SERVER_URL=http://localhost:3000/api

# Database Configuration
DB_HOST=db-postgres
DB_PORT=5432
DB_NAME=auth_system
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui

# name database para pruebas y debe ser diferente de la principal
CI_DB_NAME=cdi_ci

# JWT Configuration
JWT_SECRET=tu_secreto_jwt_super_seguro_cambialo
JWT_EXPIRE=24h

# Email Configuration (opcional - para recuperación de contraseña)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_email@gmail.com
SMTP_PASSWORD=tu_contraseña_app
EMAIL_FROM=noreply@tuapp.com

# Frontend URL (para links en emails)
FRONTEND_URL=https://dashboard.asic-guanipa.online
